*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.toolbox-cont{
    height: 5rem;
    background-color: #4b4b4b;
    display: flex;
    align-items: center;

}


.toolbox-priority-cont{
    height: 3.5rem;
    width: 18rem;
    background-color:#3b3b3b;
    margin-left: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.lightpink{
    background-color: lightpink;
}

.lightgreen {
   background-color: lightgreen;
}

.lightblue{
 background-color: lightblue;
} 

.black{
  background-color: black;
}



.color{
    height: 1.5rem;
    width: 3rem;
   
}

/* action button container design */

.action-btn-cont{
    height: 3.5rem;
    width:8rem ;
    background-color: #3b3b3b ;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    
    
}

.action-btn-cont>*{
    width: 50%;
    color: white;
    font-size: 2rem;
    text-align: center;
}